* {
  font-family: Vazirmatn, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* layout styles */
.layout {
  height: 100vh;
}

.layout .slider .satisfaction {
  position: absolute;
  bottom: 0%;
  color: #fff;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
  margin-bottom: 10px;
}

.layout .slider .satisfaction.show {
  display: flex;
}

.sidebarSlider {
  display: none !important;
}

.sidebarSlider.show {
  display: block !important;
}

.sidebarSlider div {
  height: 150px;
  line-height: 150px;
}

.sidebarSlider div img {
  width: 100%;
}

.logout {
  margin-left: 33px;
  margin-top: 10px;
  cursor: pointer;
  color: #a6ab9a;
}

.logout:hover {
  color: #da402f;
}

.logout span.text {
  margin-left: 10px;
  display: none;
}

.logout span.text.show {
  display: inline-block;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 5px;
}

.logo h4 {
  color: #ffffff;
  height: 100%;
  line-height: 32px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout-background.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px !important;
}

.site-layout-background.header .profile {
  display: flex;
  align-items: center;
  height: 100%;
}

.site-layout-background.header .profile span.profileName {
  font-size: 17px;
  font-weight: 600;
  color: #171717;
  margin-right: 10px;
}

.site-layout-background.content {
  display: grid;
  grid-template-columns: 70% 30%;
  /* grid-gap: 20px; */
}

.site-layout-background.content > div:first-child {
  background-color: red;
}
